---
title: 领凯网
layout: base
---

<script type="text/javascript">
    document.getElementById("tab_home").className = "active";
</script>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- 
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
	</ol>
-->
	<div class="carousel-inner">

		<div class="item active">
			<img alt="" src="{{site.static}}/images/push_banner_3.jpg" />
		</div>
		<div class="item">
			<a href="/app/2014/08/01/4-pet-op">
			<img alt="" src="{{site.static}}/images/push_banner_2.jpg" />
			</a>
		</div>
	</div>
	<!-- Controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
</div>
<p>&nbsp;</p>
<div class="row">
	<div class="col-sm-6">
		<h3>最新应用</h3>
		<p>
		{% if site.categories["app"] == null %}
		<div class="alert alert-warning" role="alert">亲~博主太懒了 ⊙﹏⊙‖∣</div>
		{% endif %}

		{% for rpost in site.posts %}
		{% if rpost.categories[0] == "app" %}
		<div>
			<a href="{{ site.url }}{{ rpost.url }}" class="text-default">{{ rpost.title }} | {{ rpost.subtitle | truncate:20 }} &nbsp; {{ rpost.date | date: "%m/%d" }}</a></a>
		</div>
		{% endif %}
		{% endfor %}
		</p>
	</div>
	<div class="col-sm-6">
		<h3>最新博客</h3>

		{% if site.categories["blog"] == null %}
		<div class="alert alert-warning" role="alert">亲~博主太懒了 ⊙﹏⊙‖∣</div>
		{% endif %}

		<p>
		{% for rpost in site.posts limit:10  %}
		{% if rpost.categories[0] == "blog" %}
		<div>
			<a href="{{ site.url }}{{ rpost.url }}" class="text-default">{{ rpost.title }} &nbsp; {{ rpost.date | date: "%m/%d" }}</a>
		</div>
		{% endif %}
		{% endfor %}
		</p>
	</div>
</div>