<hr>
<footer>
<p>
<a class='text-muted' href='/'>领凯网</a>
&nbsp;|&nbsp;
<a class='text-muted' href='/app'>领凯应用</a>
&nbsp;|&nbsp;
<a class='text-muted' href='/blog'>领凯博客</a>
&nbsp;|&nbsp;
<a class='text-muted' href='/about'>关于领凯</a>
&nbsp;|&nbsp;
<a class='text-muted' href='https://www.jiniutech.com'>绩牛信息</a>
</p>

<p>
	Copyright &copy; 领凯网  2014. 
	&nbsp;&nbsp;
	
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F935bc10b6112645fcf7764f418d58353' type='text/javascript'%3E%3C/script%3E"));
</script>

</p>


</footer>
