---
layout: blog_base
---
<link href="{{ site.static }}/css/pygments.css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-body">
        <h2 style="margin: 0">
        {{page.title}}
        </h2>
        <div class="text-right">
            {{page.date | date : "%Y/%m/%d"}}
            &nbsp;&nbsp;
        </div>
        <div>
            分类:&nbsp;
            {% for category in page.categories %}
            <a href="#" style="text-decoration: none">{{category}}</a>
            &nbsp;&nbsp;
            {% endfor %}
            
            {% for tag in page.tags %}
            <a href="#" style="text-decoration: none"><span class="label label-info">{{tag}}</span></a>
            &nbsp;&nbsp;
            {% endfor %}
        </div>
        <hr>
    <span id="article_content" class="img-responsive">
    {{ content }}
    </span>
    <br/>
    本文地址&nbsp;<a href="{{ site.url }}{{page.url}}" class="text-default">http://www.0kai.net{{page.url}}</a>，转载请注明！
    </div>
</div>
<nav>
    <ul class="pager">
    {% if page.previous %}
    <li class="previous"><a href="{{ page.previous.url }}">
    <span class="glyphicon glyphicon-chevron-up"></span>&nbsp;上一篇</a><span>{{page.previous.title}}</span></li>
    {% endif %}
    {% if page.next %}
    <li class="next"><a href="{{ page.next.url }}">
    <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;下一篇</a><span>{{page.next.title}}</span></li>
    {% endif %}
    </ul>
</nav>

<!-- 网易云跟帖 -->
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script>
  var cloudTieConfig = {
    url: document.location.href, 
    sourceId: "",
    productKey: "77bdc153982248118bd327a4ab70276f",
    target: "cloud-tie-wrapper"
  };
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>

<!-- Baidu Share -->
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"3","bdPos":"right","bdTop":"100"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>